.list-form{
	.post-nav{
		margin-bottom: 20px;
	 .post-search{
	    float: right;
	    #search{
	    	float: right;
	    	width: 0;
	    	display: none;
	    }
	  }
	}
	.post-list{
		.action{
			float: right;
		}
	}
}